
.day-display,
.date-display {
	font-weight: bold;
}

.smaller-siblings ~ *,
.smaller-children * {
	font-size: smaller;
}
.color-swatch {
	display: inline-block;
	width: 13px;
	height: 13px;
	border-color: 333;
	border-width: 1px;
	border-style: solid;
}

.assessment-summary .uk-panel {
	border-style: solid;
	border-width: 0 0 2px 0;
}
.assessment-summary .uk-form-label,
#editAssessment .uk-form-label {
	color: #333;
	font-weight: bold;
}

.fixed [uk-totop] {
	display: inline !important;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

#overlay p {
	position: relative;
    top: 50%;
	color: #000;
    filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
}