<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.10" targetFramework="net472" />
  <package id="SD.LLBLGen.Pro.DQE.SqlServer" version="5.3.3" targetFramework="net452" />
  <package id="SD.LLBLGen.Pro.ORMSupportClasses" version="5.3.3" targetFramework="net452" />
  <package id="wkhtmltopdf.msvc.64.exe" version="0.12.4" targetFramework="net472" />
</packages>