
.day-display,
.date-display {
	font-weight: bold;
}

.smaller-siblings ~ *,
.smaller-children * {
	font-size: smaller;
}

.uk-table-divider tr.appointment-notes {
	border-top-color: #ffffff;
}

.color-swatch {
	display: inline-block;
	width: 13px;
	height: 13px;
	border-color: 333;
	border-width: 1px;
	border-style: solid;
}

.appointment.cancelled,
.appointment.canceled,
.appointment-notes.cancelled,
.appointment-notes.canceled,
.appointment.late-cancellation,
.appointment.late-cancellation,
.appointment-notes.late-cancellation,
.appointment-notes.late-cancellation {
	text-decoration: line-through;
	color: #aaa;
	background-color: #f8f8f8;
}

.uk-table-divider tr.appointment-notes.cancelled,
.uk-table-divider tr.appointment-notes.late-cancellation {
	border-top: 1px solid #f8f8f8;
}

.assessment-summary .uk-panel {
	border-style: solid;
	border-width: 0 0 2px 0;
}
.assessment-summary .uk-form-label,
#editAssessment .uk-form-label {
	color: #333;
	font-weight: bold;
}

.fixed [uk-totop] {
	display: inline !important;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

#overlay p {
	position: relative;
    top: 50%;
	color: #000;
    filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
}

.has-doc-list-writer.sent-to-doc-list-writer-yes.doc-list-completed-no .doc-list-writer,
.has-doc-list-writer.sent-to-doc-list-writer-yes.doc-list-completed-unknown .doc-list-writer {
	color: #f0506e;
}

.reassessment {
	color: orange;
}