ai-dialog-overlay.active {
  background-color: black;
  opacity: .5;
}
.day-display,
.date-display {
	font-weight: bold;
}
.day-display {
}
.day-header {
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #ccc;
	padding: 2px 0 0 0;
}
.appointment {
	border-width: 1px 0 0 0;
	border-style: dashed;
	border-color: #ddd;
	padding: 2px 0 0 0;
}