ai-dialog-overlay.active {
  background-color: black;
  opacity: .5;
}
.week-header .week-range-display {

}
.day-header {
	border-width: 1px;
	border-style: solid;
	border-color: #ccc;
	background-color: #eee;
	margin-bottom: 1px;
}
